body {
    background-image: url('../img/cadastro-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    font-family: "Londrina Solid", sans-serif;
    color: white;
    font-size: 30px;
    
}
main {
    border: 3px solid white;
    width: 70%;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input {
    font-family: "Londrina Solid", sans-serif;
    padding:10px 30px 10px 30px;
    border-radius: 100px;
    font-size: 30px;
    display: flex;
    flex-direction: column;

}
#voluntario-fields {
    width:50%;

}
#voluntario-fields .espaco {
    display: flex;
    flex-direction: column;
}
#voluntario-fields div {
    display: flex;
}
label {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}