section{
    font-family: "Love Ya Like A Sister";
}
.como-doar {
    color: white;
}
.como-doar img{
    width: 100%;
    position: relative;
}
.como-doar .text {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 38%;
    font-size: 55px;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 1.0);
}
.como-doar h1 {
    margin: 0;
}
.como-doar p {
    margin: 0;
    font-weight: 600;
}
.passos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.passos h2 {
    padding-top: 40px;
    font-size: 55px;
    text-align: center;
}
.passos .etapas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.etapas article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 170px;
    font-size: 25px;
    font-family:  "Londrina Solid", sans-serif;
    margin-left: 40px;
    border: 3px;
    border-radius: 40px;
    padding-left: 30px;
    margin-top: 40px;
}

.etapas .um {
    display: flex;
    align-items: center;
    border: solid #3CC78F;
}
.etapas .um p {
    width: 83%;
}
.etapas img {
    width:9% ;
    height: 45%;
    padding-left: 20px;
    padding-right: 28px;   
}
.etapas .dois {
    border: solid #FF4F42;
}
.etapas .tres {
    border: solid #FFD500;
}
.etapas .quatro {
    border: solid #67B0FF;
}
.star-cd {
    padding-top: 100px;
    padding-bottom: 100px;
}
.presenteia {
    text-align: center;
    padding-bottom: 120px;
}
.presenteia h5 {
    font-size: 35px;
    font-weight: 200;
    color: #7A7575;
    margin: 0;
    padding-bottom: 25px;
}
.presenteia h3{
    padding-left: 16%;
    font-size: 55px;
    margin: 0;
    width: 65%;
}
.presenteia .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 0 100px;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #968989;
    
}
.presenteia article {
    padding-right: 150px;
}