main {
    font-family: "Londrina Solid", sans-serif;
    color: white;
    font-size: 40px;
}
.title-table {
    position: relative ;
}
.titulo {
    display: flex;
    justify-content: center;
}
div h1 {
    position: absolute;
    top: 10%;
    font-family: "Love Ya Like A Sister", cursive;
    display: flex;
    justify-content: center;
    width: 60%;
    text-align: center;
}
.obrigado {
    position: absolute;
    top: 280%;
    width: 85%;
    left: 10%;
}
.obrigado h3 {
    color: #FFD500;
}
.title-table img {
    width: 100%;
    position: relative
}
.caixa-postal {
    position: absolute;
    top: 30%;
    left: 30%;
    border: 4px solid white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 70px 70px 170px 70px ;
}
.caixa-postal div {
    display: flex;
}
.caixa-postal div p{
    margin-bottom: 0;
}
.caixa-postal .quadro {
    background-color: white;
    border-radius: 50px;
    margin-right: px;
    padding-left: 20px;
    padding-right: 100px;
}
.quadro p {
    color: #979797;
    font-weight: 300;
    margin: 10px;
    margin-top: 0;
    padding: 10px 0 10px 0;
}
.titular {
    display: flex;
    flex-direction: column;
}
.titular .quadro {
    padding-right: 450px;
}
.caixa-cidade {
    display: flex;
}
.caixa-cidade div {
    display: flex;
    flex-direction: column;
}
.caixa-cidade .caixa .quadro{
    padding-right: 150px;
    margin-right: 30px;
}
.estado-cep{
    display: flex;
}
.estado-cep div {
    display: flex;
    flex-direction: column;
}
.estado-cep .estado .quadro {
    margin-right:30px;
}
.cep .quadro {
    padding-right:100px;
}