body {
    font-family: "Londrina Solid", sans-serif;
    font-size: 40px;
    color: aliceblue ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
h2 {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    background-image: url('../img/login-wallpaper.png') ;
    background-size: cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
main .login-container {
    background-size: 50% 50%;
    margin: 150px auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    border: 3px solid white;
    padding: 40px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 4px solid white;

}

form .input-group{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    background-size: cover;
    color: white;
}
input {
    width: 500px;
    height: 60px;
    border-radius: 35px;
    border: none;
    margin-top: 10px;
    padding-left:30px;
    font-size: 35px;
    font-family: "Londrina Solid", sans-serif;
}
.botao-entrar {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    width: 130px;
    height: 50px;
    font-family: "Londrina Solid", sans-serif;
    font-size: 30px;
    color: aliceblue;
    background-color: #3CC78F;
    border-radius: 30px;
    border: 3px solid white;
}