body {
    font-family: "Londrina Solid", sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
main {
    margin: 20px auto;
    position: relative;
}
main h1 {
    margin-bottom: 50px;
}
main .opcoes-cadastro{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    border-radius: 40px;
}
main a {
    text-decoration: none;
    padding: 17px 28px 17px 28px;
    color: white;
    border-radius: 40px;
}
.btn-cadastro-voluntario {
    background-color: #EEBE00;
}
.btn-cadastro-ong {
    background-color:  #F54638;
}
.img-1 {
    position: absolute;
    right: 110%;
}
.img-2 {
    position: absolute;
    left: 110%;
    bottom: 5%
}