body {
    margin: 0;
    padding: 0;
}
section {
    width: 100%;
    font-family:  "Londrina Solid", sans-serif;
}
.d-alegria-foto img{
    width: 100%;
    position: relative;
}
.d-alegria-foto .texto {
    position: absolute;
    top: 52%;
    right: 50%;
    color: white;
    padding-left: 10%;
    font-family: "Love Ya Like A Sister";
}
.texto h1 {
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 1.0);
    font-size:60px;
    padding-top: 10px;
    margin-bottom: 0;
}
.texto h4 {
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 1.0);
    font-size: 38px;
    margin-top: -10px;
}
.texto p {
    font-family:  "Londrina Solid", sans-serif;
    font-size: 28px;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 1.0);
    width: 800px;
    padding-top: 20px;
}
.ajude .comprar{
    width: 100%;
}
.razoes {
    position:relative;
    height: 1500px;
}
.razoes .razao {
    display: flex;
    justify-content: center;
    position: relative;
}
.razao h2 {
    font-size: 50px;
    font-family: "Love Ya Like A Sister";
    padding-top: 100px;
}
.razao img {
    position: absolute;
    top: 30%;
}
.razao .star-left {
    right: 70%;
}
.razao .star-right {
    left: 70%;
}
.secoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.secoes article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:15%;
    border: 3px;
    border-radius: 30px;
    padding: 30px 35px 30px 35px;
}
article h4 {
    font-family: "Love Ya Like A Sister";
    font-size: 25px;
    padding: 30px 0 30px 0;
}
article p{
    font-size: 20px;
}

.secoes .reducao {
    border: solid #007BFF;
    margin-right: 50px;
}
.secoes .beneficio {
    border: solid  #FF3122;
    padding-bottom: 50px;
}
.secoes .apoio {
    border: solid  #E7C100;
    margin-left: 53px;
}
.apoio p{
    margin: 0;
}
.razoes .star-tres img{
    position: absolute;
    left: 10%;
    top: 81%;
}
.ajude {
    position: relative;
    display: flex;
    align-items: center;

}
.ajude div {
    position: absolute;
    top: 17%;
    left: 57%;
}
.ajude h3 {
    font-family: "Love Ya Like A Sister";
    font-size: 50px;
    width: 60%;
    margin: 0;
    text-align: center;
    margin-left: 20px;
}
.ajude div img {
    padding-left: 100px;
    padding-top: 45px;
}
.ajude h4 {
    color: #00ACC6;
    font-size: 40px;
    margin-bottom:0;
    padding-left: 100px;
}
.ajude p {
    position: absolute;
    font-size: 28px;
    width: 90%;
    left: -7%;
}
.dev {
    padding-top: 100px;
    font-family: "Love Ya Like A Sister";
    padding-bottom: 150px;
}
.dev div {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.dev h3 {
    font-size: 60px;
    padding-top: 30px;
}
.dev p {
    font-size: 40px;
    padding-top: 30px;
}
.dev article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;

}
.dev article img {
    border: 5px ;
    border-radius: 100%;
}
.dev .ester {
    margin-right: 150px;
}
.dev .ester-img {
    border:solid #FFD500;
}
.dev .flavia-img {
    border:solid #3CC78F;
}
.dev .talison {
    margin-left: 150px;
}
.dev .talison-img {
    border:solid #FF4F42;
}
