body h1,h2,h3,h4,h5,p {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.ver-mais {
    display: flex;
    flex-direction: column;
}
.ver-mais .titulo {
    padding: 22px 0;
    border-bottom: 1px solid #929292;
    display: flex;
    justify-content: center;
}
.ver-mais .titulo h1 {
    font-family:  "Londrina Solid", sans-serif;
    color: black;
    font-size: 50px;
}
.ver-mais .ong-ver-mais {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.ver-mais .ong-ver-mais .imagem-ong img {
    width: 1200px;
    height: 636px;
}
.ver-mais .ong-ver-mais .titulo {
    border-bottom: none;
    padding: 0;
    margin-top: 25px;
}
.ver-mais .ong-ver-mais .titulo h2 {
    border-bottom: none;
    font-size: 60px;
    font-family:  "Londrina Solid", sans-serif;
    color: black;
   
}
.ver-mais .ong-ver-mais .descricao {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}
.ver-mais .ong-ver-mais .descricao h3 {
    font-size: 30px;
    font-family:  "Londrina Solid", sans-serif;
    color: black;
}
.ver-mais .ong-ver-mais .descricao p {
    font-size: 22px;
    font-family:  "Londrina Solid", sans-serif;
    color: black;
}
.ver-mais .ong-ver-mais .outro {
    display: flex;
    gap: 200px;
}
.ver-mais .ong-ver-mais .outro {
    display: flex;
    gap: 200px;
    font-family:  "Londrina Solid", sans-serif;
    color: black;
    margin-top: 40px;
}
.ver-mais .ong-ver-mais .outro h3 {
    font-size: 26px;
}
.ver-mais .ong-ver-mais .outro p {
    font-size: 26px;
    font-weight: 300;
}
.ver-mais .ong-ver-mais .outro .esq {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.ver-mais .ong-ver-mais h3{
    margin-bottom: 15px;
}
.ver-mais .ong-ver-mais .outro .esq .links img{
    height: 30px;
    width: 30px;
}
.ver-mais .ong-ver-mais .fotos {
    margin-top: 60px;
    font-family:  "Londrina Solid", sans-serif;
    color: black;
    font-size: 26px;
    max-width: 1200px;
}
.ver-mais .ong-ver-mais .fotos img{
    width: 395px;
}