<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DoandoAlegria</h1>
    <nav>
        <a href="/comodoar">Como doar</a>
        <a href="/sobrenos">Sobre nós</a>
        <a href="/verongs">Ver ONGs</a>
        <a href="/contato">Contato</a>
        <a href="">Entrar</a>
        <a href="">Cadastre-se</a>
        <a href="">Faça uma doação</a>
    </nav>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
</body>
</html>