<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    <header>
        <div class="content container">
            <div class="logo">
                <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" alt=""></a>
            </div>
            <div class="menu">
                <nav class="links">
                    <a href="/comodoar">Como Doar</a>
                    <a href="/sobrenos">Sobre Nós</a>
                    <a href="/verongs">Ver ONGs</a>
                    <a href="/contato">Contato</a>

                </nav>
                <nav class="botoes">
                    <button class="cadastro"><a href="/cadastro">Cadastre-se</a></button>
                    <button class="login"><a href="/login">Login</a></button>
                    <button class="doacao"><a href="/doacao">Faça uma doação</a></button>

                </nav>
            </div>
        </div>
    </header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
    <footer>
        <div class="content container">
            <div class="info">
                <div class="doandoalegria">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
                    <p>Ajude a contribuir significamente com nosso projeto em solidariedade com as crianças em vulnerabilidade social e ONGS</p>
                </div>
                <div class="servicos">
                    <h5>Serviços</h5>
                    <a href="/comodoar">Como Doar</a>
                    <a href="/sobrenos">Sobre Nós</a>
                    <a href="/verongs">Ver ONGs</a>
                </div>
                <div class="contato">
                    <h5>Contato</h5>
                    <p>+2(305) 587-3407<br>info@loveuscharity.com<br>Flat 20, Reynolds Neck, NorthHelenaville, FV77 8WS</p>
                </div>
            </div>
            <div class="redes">
                <a href="#"><img src="{{ url_for('static', filename='img/face-branco.png') }}" alt="Facebook"></a>
                <a href="#"><img src="{{ url_for('static', filename='img/twit-branco.png') }}" alt="Twitter"></a>
                <a href="#"><img src="{{ url_for('static', filename='img/insta-branco.png') }}" alt="Instagram"></a>
            </div>
        </div>
    </footer>
</body>
</html>
