<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block conteudo %}
    <p>Cadastro</p>

    <form action="{{ url_for('cadastro') }}" method="post">
        <select name="cadastrotipo" id="cadastrotipo" onchange="this.form.submit()">
            <option value="voluntario" {% if cadastrotipo == "voluntario" %}selected{% endif %}>Voluntário</option>
            <option value="ong" {% if cadastrotipo == "ong" %}selected{% endif %}>ONG</option>
        </select>

        {% if cadastrotipo == "voluntario" %}
            <div id="voluntario-fields">
                <label for="nomepessoa">Nome completo</label>
                <input type="text" placeholder="Digite o nome completo" id="nomepessoa" name="nomepessoa" required>
                <label for="cpf">CPF</label>
                <input type="text" placeholder="000.000.000-00" id="cpf" name="cpf" required>
                <label for="datadenascimento">Data de Nascimento</label>
                <input type="date" id="datadenascimento" name="datadenascimento">
                <label for="email">Email</label>
                <input type="text" placeholder="E-mail" id="email" name="email" required>
                <label for="telefone">Telefone</label>
                <input type="text" placeholder="(DD)NNNN-NNNN" id="telefone" name="telefone" required>
                <!-- Senha pode ser adicionada aqui -->
                <input type="submit" value="Registrar">
            </div>
        {% elif cadastrotipo == "ong" %}
            <div id="ong-fields">
                <label for="nomeinst">Nome da Instituição</label>
                <input type="text" placeholder="Digite o nome completo" id="nomeinst" name="nomeinst" required>
                <label for="cnpj">CNPJ</label>
                <input type="text" placeholder="000.000.000-00" id="cnpj" name="cnpj" required>
                <label for="email">Email</label>
                <input type="text" placeholder="E-mail" id="email" name="email" required>
                <label for="telefone">Telefone</label>
                <input type="text" placeholder="(DD)NNNN-NNNN" id="telefone" name="telefone" required>
                <input type="submit" value="Registrar">
            </div>
        {% endif %}
    </form>

    {% endblock %}
</body>
</html>
