<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block conteudo %}
    <p>Cadastrar como:</p>    
    <li>
        <select name="cadastro-tipo" id="cadastro-tipo">
            <option value="voluntario" selected>Voluntário</option>
            <option value="ong">ONG</option>
        </select>
    </li>
    {% endblock %}
</body>
</html>