<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha de Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/novo_cadastro.css') }}">
</head>
<body>
    {% extends 'base.html' %}
    {% block conteudo %}
        <h1>Escolha o Tipo de Cadastro</h1>

        <div class="opcoes-cadastro">
            <a href="{{ url_for('cadastro_voluntario') }}" class="btn-cadastro voluntario">
                <span>Voluntário</span>
            </a>
            <a href="{{ url_for('cadastro_ong') }}" class="btn-cadastro ong">
                <span>Representante de ONG</span>
            </a>
        </div>
    {% endblock %}
</body>
</html>