

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap" rel="stylesheet">
</head>

<body>
    {% extends 'base.html' %}
    {% block conteudo %}

        <!-- Exibição das mensagens flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message-error {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

        <div class="login-container">
            <h2>Login</h2>
            <form method="POST">
                <div class="input-group">
                    <label for="email">E-mail</label>
                    <input type="text" placeholder="example@email.com" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Senha</label>
                    <input type="password" placeholder="Senha" id="password" name="password" required>
                </div>
                <div class="botao-entrar">
                    <button type="submit">Entrar</button>
                </div>
            </form>
        </div>

        <!-- Script para ocultar mensagens flash após 3 segundos -->
        <script>
            setTimeout(function() {
                var flashes = document.querySelectorAll('.flash-message');
                flashes.forEach(flash => flash.style.display = 'none');
            }, 3000);
        </script>
    {% endblock %}
</body>
</html>
